<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <system.webServer>
      <aspNetCore processPath=".\OneTooXRestArchiveTest.exe" xdt:Transform="SetAttributes(stdoutLogFile)" stdoutLogEnabled="true" stdoutLogFile="#{Otx.Logfolder}#\#{Otx.PathName}#_OtxRestArchive.log" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)" value="#{Otx.EnvName}#" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>